html{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    
}

@font-face {
    font-family: 'Zakrito';
    src: url('../fonts/ZAKRITO\ 2024\ MAR.otf');
}
li{
    list-style: none;
    display: flex;
}

*,*::after,*::before{
    box-sizing: inherit;
    color: #000;
    text-decoration: none;
}
body{
    font-family: 'Zakrito';
    max-height: calc(100vh - 16px);
    max-width:  calc(100vw - 16px);
    border-radius: 12px;
    font-weight: 400;
    background-color: #F44725;
    margin: 8px;
    position: relative;
}
.mobile_about{display: none;}
.wrapper{
    display: flex;
    max-height: calc(100vh - 16px);
}
.arrow_link{
    width: 20px;
    height: 12px;
}
.left_page{
    position: relative;
    margin-left:  clamp(24px, 2.2vw, 32px);
    width: 50%;
    height: calc(100vh - 16px);
}
.name{
    padding-top: clamp(24px, 3.5vh, 32px);
    
    margin-bottom: clamp(60px, 7.1vh, 64px);
    font-size: 24px;
    line-height: 20px;
}
.about{
    line-height: 32px;
    font-size: 32px;
    margin-bottom: clamp(55px,9.3vh,200px);
}
.head_hunter{
    line-height: 32px;
    font-size: 32px;
    
}
.list{
    padding: 0;
    width: 90.5%;
    position: absolute;
    bottom: 151px;
}
.list ul{
    padding-left: 0;
    
}
.list li{
    line-height: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
.list li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px; 
    background-color: #000; 
    top: 70px; 
    
}
.list li:last-child::after {
    display: none; /* Скрыть псевдоэлемент у последнего элемента */
  }
.list li {
    font-size: 24px;
    
}
h5{
    font-size: 16px;
    font-weight: 400;
}
.links{
    position: absolute;
    z-index: 0;
    width: 446px;
    height: 40px;
}
.buttons{
    position: absolute;
    bottom: 32px;
    width: 446px;
    height: 40px;
    margin-left: -4px;
}
.buttons a{
    z-index: 700;
    position: fixed;
    display: block;
    bottom: 40px;
    height: 40px;
}
.behance{
    display: block;
    bottom: 40px;
    height: 40px;
    width: 100px;
    margin-left: 4px;
}
.telegram{
    width: 130px;
    margin-left: 110px;
}
.soap{
    width: 210px;
    margin-left: 240px;
}





.right_page{
    width: 50%;
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pine_img{
  width: 175px;
  height: 384px;
}
.slider-container {
  position: relative;
  overflow: hidden; 
  margin-top: 104px;
}

.slider {
  white-space: nowrap; /* Обеспечивает, чтобы изображения не переносились на новую строку */
  transition: transform 0.5s ease; /* Анимация переключения слайдов */
}

.slider img {
  display: inline-block; /* Отображаем изображения как блочные элементы внутри слайдера */
  vertical-align: top; /* Избегаем лишних пробелов между изображениями */
}
.slider .slide {
  display: none;
}

.slider .slide.active {
  display: inline-block;
  vertical-align: top;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.popup-img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  
}

.popup-text {
  position: fixed;
  bottom: 32px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.popup-text-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  
  left: 50%;
  transform: translateX(-50%);
}


.close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 60vw;
  height: 100%;
  z-index: 999999999;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 32px;
  cursor: pointer;
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: center;
  
}

.prev-btn {
  left: 20px;
  justify-content: start;
}
.prev-btn svg{
  transform: rotate(180deg);
}
.prev-btn:hover circle{
  transition:  1s;
  fill: white;
}

.next-btn {
  right: 20px;
  justify-content: end;
  transition:  1s !important;
}
.next-btn circle {
  transition:  1s; 
}

.next-btn:hover circle {
  fill: white;
}



h3{
  font-size: 20px;
  font-weight: 400;
  padding-right: 48px;
}
.about_project{
  position: absolute;
  font-size: 20px;
  bottom: 175px;
  display: flex;
  justify-content: space-between;
  width: calc(50% - 16px);
}
.about_project p{
  padding-left: 6px;
}
  .refresh{
    font-size: 32px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    width: calc(50% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .refresh {
    height: 180px;
    border-radius: 12px;
    background: #F44725;
    text-decoration: none;  
    transition: background-color 0.6s ease;
    overflow: hidden;
 }
  .refresh:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, .1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
 }
  .refresh:focus, .refresh:hover {
    background: #F44725;
 }
  .refresh:active:after {
    width: 1000px;
    height: 1000px;
 }
  




 @media (max-width:1100px) {
  .wrapper{
    flex-direction: column;
  }
  .left_page{
    width: calc(100% - 64px);
    margin-left: 32px;
    height: auto;
  }
  .about{
    margin-bottom: 40px;
  }
  
  .list{
    position: static;
    width: 100%;
    margin-top: 24px;
  }
  .list li::after{ 
    top: 0; 
    
}
  li.hide {
    display: none;
  }
  .buttons{
    display: none;
  }
  .right_page{
    width: 100%;
  }
  .slider-container{
  margin-top: 20px;
  }
  .about_project{
    width: 100%;
    padding-left: 25px;
  
  }
  h3{
    padding-right: 33px;
  }
  .pine_img{
    width: 141px;
    height: 310px;
  }
  .refresh{
    width: 100%;
    height: 120px;
  }
 }
 @media (max-width: 640px) {
    .left_page{
      width: calc(100% - 16px);
      margin-left: 24px;
    }
    .name{
      padding-top: 24px;
    }
    .head_hunter{
      position: absolute;
      font-size: 24px;
      top: 18px;
      right: 32px;
    }  
    .mobile_about{
      display: block;
      font-size: 28px;
      line-height: 28px;
    }
    .desktop_about{
      display: none;
    }
    .name{
      margin-bottom: 60px;
    }
    .list{
      display: none;
    }
    .slider-container{
      margin-top: 55px;
    }
    .pine_img{
      width: 127px;
      height: 278px;
    }
    h3{
      padding-right: 25px;
    }
    .about_project{
      bottom: 92px;
      padding-left: 17px;
    }
    .refresh{
      height: 102px;
    }
 }
 @media (max-height: 750px) {
    .name{
      margin-bottom: 30px;
    }
    .about{
      margin-bottom: 30px;
    }
    .list{
      bottom: 100px;
    }
    .about_project{
      bottom: 124px;
    }
    .slider-container{
      margin-top: 40px;
    }
    .refresh{
      height: 145px;
    }
 }